/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #c1c1c1;
	background-image: url('pix/background.png');
	background-repeat: no-repeat;
	background-position: 50% 0;

	max-width: 728px;
	padding: 0 20px;
	position: relative;
	margin: 0 auto;
	
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5em;
}

h1 {
	font-size: 2.75em;
	color: rgba(30, 124, 191, 1);
	text-shadow: 0px 1px 0px #fff;
	
	display: block;
	text-align: center;
	
	padding-top: 1em;
	margin: 0 0 1em 0;
}

h1 span {color: rgba(42, 67, 118, 1);}

h2 {
	font-size: 2em;
}

h1, h2, h3, h4 {
	font-family: Pacifico;
	font-weight: 600;
	line-height: 1.5em;
}

h1 {line-height: 1.25em;}

#playlist a {
	display: block;
}

#playlist a:hover {
	background: rgba(0,0,255,0.1);
}

#playlist a.selected {
	background: rgba(0, 0, 255, 0.4);
}

#player .controls {
	position: relative;
	display: block;
	height: 180px;
	width: 240px;
	overflow: hidden;
	margin: 0 auto;
}

#player .controls li {
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	padding: 0 10px;
}

#player .controls li.random-li, #player .controls li.show-playlist {
	position: absolute;
	bottom: 0px;
}
#player .controls li.random-li {
	left: 30px;
}
#player .controls li.show-playlist {
	right: 30px;
}

#player .controls li a, #player .controls li label, #player .show-playlist a {
	display: block;
	width: 60px;
	height: 60px;
	
	background-image: url('pix/sprites.png');
	background-repeat: no-repeat;
	
	color: rgba(0,0,0,0);
}


#player .controls li a:active {
	background-position-y: -60px;
}

#player a#playpause, #player a#playpause.play {
	background-position-x: -60px;
}
#player a#playpause.pause {
	background-position-x: -120px;
}
#player a#next {
	background-position-x: -180px;
}
#player .controls li input[type=checkbox] {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	opacity: 0;
}
#player .controls li label {
	background-position-x: -300px;
}
#player .controls li input[type=checkbox]:checked + label {
	background-position-y: -60px;
}

.show-playlist a {
	background-position-x: -360px;
}
.show-playlist a:hover {
	background-position-y: -60px;
}

#player #current-song {
	max-width: 66.5%;
	position: relative;
	margin: 0 auto;
	top: -100px;
}

#player #current-song #songtitle {
	display: block;
	width: 79.43%;
	
	font-size: 0.8125em;
	line-height: 1.846em;
	height: 1.846em;
	overflow: hidden;
	
	background: #fff;
	border-radius: 5px;
	
	font-family: Trebuchet;
	padding: 0 45px 0 5px;
	
	-webkit-box-shadow: 0px -1px 0px rgba(150, 150, 150, 1);
}
#player #current-song #length {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	overflow: hidden;
	
	color: #c1c1c1;
}
#player #current-song #position {
	display: block;
	position: relative;
	width: 19px;
	height: 14px;
	overflow: hidden;
	left: -9.5px;
	
	background-image: url('pix/sprites.png');
	background-repeat: no-repeat;
	background-position-y: 0;
	background-position-x: -240px;
	
	color: rgba(0,0,0,0);
}
#player #current-song #position:hover {
	background-position-y: -60px;
}

#playlist {
	background: #c1c1c1;
	background-image: url('pix/background.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
}

#playlist.animate {
	-webkit-transform: translateZ(0);
	-webkit-transition: top 1s ease-in-out;
}